@charset "UTF-8";

/* Mobile devices */
@media (max-width: 480px){
    main{
        height: 64vh;
    }

    #weight{
        width: 56px;
    }
    
    #length{
        width: 46px;
    }
    
    #temperature{
        width: 40px;
    }
    
    #coin{
        width: 46px;
    }
}

/* Tablet devices */
@media (min-width: 481px) and (max-width: 768px){
    main{
        height: 59vh;
    }

    footer{
        height: 18vh;
    }
}

/* Bigger Screens */
@media (min-height: 868px){
    main{
        height: 60.6vh;
    }
}

/* Smaller Screens */
@media (max-height: 600px){
    #logo{
        height: %;
        margin-top: %;
        margin-bottom: %;
    }

    main{
        height: 48vh;
    }
}