@charset "UTF-8";

/* Mobile devices */
@media (max-width: 480px){
    main{
        height: 64vh;
        width: 85%;
    }

    #weight{
        max-width: 56px;
    }
    
    #length{
        max-width: 46px;
    }
    
    #temperature{
        max-width: 40px;
    }
    
    #coin{
        max-width: 46px;
    }

    footer{
        max-width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

/* Tablet devices */
@media (min-width: 481px) and (max-width: 768px){
    main{
        height: 59vh;
    }

    footer{
        height: 18vh;
    }
    
}