@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: VintageStylist;
    src: url(../fonts/Vintage\ Stylist.otf);
    font-weight: normal;
  }


:root{
    --main-yellow: #FBD574;
    --main-purple: #D2B8E7;
    --main-blue: #C1C7DD;
    --main-green: #A8DFCC;
    --dark-yellow: #FAC748;
    --dark-purple: #803EB6;
    --dark-blue: #57669E;
    --dark-green: #3DA480;
    --background-a: #3B252C;
    --background-b: #36453B;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: var(--background-a);
    margin: 0;
    padding: 0;
    background-image: url(../img/NMC_Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

main{
    align-items: center;
    margin: auto;
    width: 70%;
    text-align: center;
}

#logo{
    height: 11vh;
    width: 100%;
    background-color: var(--background-a);
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#logo img{
    height: 100%;
    cursor: pointer;
}

.cat-hover{
  cursor: pointer;
}

.cat-linear-face, .cat-linear {
  fill: none;
  stroke: url(#my-gradient);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cat-linear {
  stroke-width: 2px;
}

.cat-interior, .cat-magic {
  fill: white;
}

.cat-hover:hover .cat-interior{
  fill: url(#my-gradient);
}

.cat-hover:hover .cat-linear{
  stroke: white;
}

.cat-hover:hover .cat-linear-face{
  stroke: white;
}

.cat-hover:hover .cat-magic{
  stroke: white;
}

.cat-selected .cat-interior{
  fill: url(#my-gradient);
}

.cat-selected .cat-linear{
  stroke: white;
}

.cat-selected .cat-linear-face{
  stroke: white;
}

.cat-selected .cat-magic{
  stroke: white;
}
