@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url(../img/Fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main{
    align-items: center;
    margin: auto;
    width: 70%;
    text-align: center;
}

h1{
    font-size: 50pt;
    font-weight: 600;
    color: #f77f00;
    margin-top: 0;
    padding-top: 5%;
}


/* Styles converter */
#converter{
    max-width: 600px;
    padding: 15%;
    width: 310px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    /*display: flex;
    justify-content: center;
    align-content: center;*/
}

.bg{
    min-height: 45px;
    border-radius: 15%;
    background-color: #edf6f9;
    mix-blend-mode: soft-light;
    opacity: 45% ;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bg-transparent{
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.line{
    border-bottom: #f77f00 1px;
}

.selector{
    border: none;
    font-family: 'Raleway', sans-serif;
    border-radius: 15%;
}

#convertible{
    border: none;
    background: none;
    height: 35px;
}

#arrow{
    width: 10%;
}

/*#measure{

}*/