@charset "UTF-8";

#menu{
    background-color: #edf6f9;
    border-radius: 15%;
    mix-blend-mode: soft-light;
    opacity: 45% ;
    width: 310px;
    height: 290px;
    max-width: 600px;
    margin: auto;
    padding: 15%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-menu-row{
    background-color: #83c5be;
    border-radius: 15%;
    padding: 10px;
    margin: 30px;
    max-height: 80px;
    width: 90px;
    opacity: 100%;
    cursor: pointer;
}

.main-menu-row:hover{
    background-color: #002529;
    opacity: 100%;
}

.main-menu-row svg{
    max-height: 80px;
    opacity: 100%;
}

.main-menu-row img{
    max-height: 80px;
    opacity: 100%;
}

#weigth{
    fill: #002529;
    opacity: 100%;
}

#weigth:hover{
    fill: #F77F00;
    opacity: 100%;
}

#coin{
    fill: #002529;
}

#coin:hover{
    fill: #F77F00;
}

#length{
    fill: #002529;
}

#length:hover{
    fill: #F77F00;
}

#temperature{
    fill: #002529;
}

#temperature:hover{
    fill: #F77F00;
}
